* {
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Special Elite', cursive;
    letter-spacing: 1px;
    line-height: 1.5em;
    font-size: 18px;
}


/* COLORS  
#A45b3E -  orange
#333C36 - bluegreen
#A0978F - beige
#1B241B - dark green
#0F0407 - blackbrown
*/

body {
    position: relative;
    /* background-color: #3c5458; */
    background-color: #A0978F;
    color: #0F0407;
}

.container-mainpage {
    position: relative;
}

.top-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-top: 40px;

}

.top-container h1 {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #333C36;
}


/* STYLING FOR MY MURDERSTORYS */

.container-murderStory {
    display: grid;
    grid-template-rows: 0.5fr 2fr;
    justify-content: center;
}

.button-story {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#getYourStory {
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: #1B241B;
    color: #c2b9b1;
    width: 400px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-weight: 800;
}

#getYourStory:hover {
    opacity: 0.8;
    transition: all 0.5s ease-in-out;
}

.div-story {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#murderStory {
    display: grid;
    grid-template-rows: 2fr 1fr;
    width: 80%;
    margin: 15px;
}

#murderStory audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    width: 200px;
    height: 25px;
    margin-top: 20px;    
}

/* STYLING FOR MY KILLERS AND KILLERINFO/CLUES */

.container-killerInfo {
    display: flex;
    justify-content: center;
}

img {
    width: 200px;
    height: 200px;
}

#killerInfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 10px;
}

#killerInfo button {
    border: none;
    background-color: #333C36;
    color: #A45b3E;
    padding: 8px;
    opacity: 1;
    border-radius: 6px;
    width: 120px;
    margin: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
}

#killerInfo button:hover {
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

/* STYLING FOR MY CANVAS RECTANGLE */

#current-points {
    text-align: center;
}


.container-score {
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr;
}

.container-score h3 {
    margin-bottom: 15px;
    color: #864024;
}

#rectangle {
    border: none;
    border-radius: 8px;
    background-color: #a59f99;
}

#score {
    display: grid;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 30px;
    height: 50px;
}

/* STYLING FOR MY SELECT KILLER AND SOLVE THIS CRIME */

.selectKiller {
    margin: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.selectKiller label {
    font-size: 2rem;
    font-weight: 600;
}

.selectKiller button {
    padding: 10px;
    background-color: #A45b3E;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.9;
    text-transform: uppercase;
    color: #333C36;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 400px;
}

.selectKiller button:hover {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.selectKiller select {
    text-decoration: none;
    border: none;
    padding: 10px;
}

/* HERE IS ALL MY STYLING FOR MY SPLASH (THE WELCOME PAGE) */

.splash-start {
    cursor: pointer;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%);
    background-color: #1B241B;
    transition: all ease-in-out 600ms;
}

.hidden {
    transform: 0.5s;
    display: none;
}

.splash-header-start,
.splash-header-gameOver,
.splash-header-congratulations {
    height: 90%;
    color: #A45b3E;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-gameOver,
.splash-congratulations {
    display: none;
    position: fixed;
    background-color: #1B241B;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.show {
    display: block;
}


/* HERE COMES ALL THE STYLING FOR MY CHAT */

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #0F0407;
    color: #c2b9b1;
    font-weight: bold;
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border-radius: 8px;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 300px;
    padding: 20px;
    background-color: #0F0407;
    border-radius: 8px;
    color: #c2b9b1;
    position: relative;
}

#nickname {
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin: 8px;
    width: 100%;
    margin-left: -1px;
    background-color: #A0978F;
}

#setNickname {
    background-color: #1B241B;
    font-weight: bold;
    color: #c2b9b1;
    padding: 5px;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 10px;
    cursor: pointer;
}

#inputText {
    text-decoration: none;
    background-color: #333C36;
    color: #c2b9b1;
    border: none;
    padding: 10px;
    border-radius: 5px;
}


.form-container ul {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    list-style: none;
    border: none;
    resize: none;
    min-height: 200px;
}

ul {
    background-color: #A0978F;
    max-height: 200px;
    overflow-y: scroll;
}

li {
    border-radius: .4em;
    background-color: #1B241B;
    padding: 8px;
    margin: 5px;
    /* border-radius: 8px; */
}

li:nth-child(odd) {
    background-color: #333C36;
}

.time-and-nickname {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: #867e78;
    justify-content: center;
    margin-bottom: 10px;
}

#mymessage {
    color: #c2b9b1;
}



/* li time {
    position: absolute;
    top: 12%;
    right: 10%;
} */

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: #A45b3E;
    opacity: 0.8;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100px;
    color: white;
    cursor: pointer;
}

/* Add some hover effects to buttons */
.form-container,
.open-button:hover,
.cancel:hover {
    opacity: 1;
}